# Python
__pycache__/
*.pyc
.venv/
lambda_package.zip
lambda_build/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Env
.env
*.env

# macOS
.DS_Store

#Floci creds
floci.sh 
data/backend/.env.dev
tests/