# python
__pycache__/
*.pyc
.venv/
lambda_package.zip
lambda_build/

# terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/tfplan

# env files
*.env
.env.*

# aws local emulator
floci.sh
data/

# macos
.DS_Store

# tests 
tests/